.quoteContainerBox {
  border: solid #3498db 5px;
  color: white;
  border-radius: 10px;
  height: 300px;
  width: 60%;
  margin: 0 auto; 
  padding: 20px; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  overflow: hidden;
  text-align: center; 
  box-sizing: border-box; 
}

.quoteText {
  font-size: 24px; 
  font-weight: bold;
  margin: 0;
  padding: 10px 0; 
  word-wrap: break-word; 
  max-width: 100%; 
  color: white;
}

.quoteAuthor {
  font-size: 20px; 
  font-weight: lighter;
  margin: 0; 
  padding: 10px 0; 
  max-width: 100%; 
}
